body{
    background-color: #283149;
    font-family: "Arvo", cursive;
    
   
}
h1{
    text-align: center;
    font-size: 4rem;
}

div.buttonContainer{

    /* background-color: black; */
    position: relative;
    top:20vh;
    width: 80%;
    margin-left: 10%;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items: center;
    

}

div.buttonContainer button{
    background-color:antiquewhite;
    color: red;
    font-family: 'Arvo', cursive;
    font-size:3.5rem;
    font-weight: bolder;
    text-shadow: 3px 0 whitesmoke;
    height: 10rem;
    width: 10rem;
    border-radius: 12%;
    border: 10px solid #404B69 ;

}
.w{
 background-image: url(/assets/images/tom1.png);
}
.a{
    background-image: url(/assets/images/tom2.png);
}
.s{
    background-image: url(/assets/images/tom3.png);
}
.d{
    background-image: url(/assets/images/tom4.png);
}
.j{
    background-image: url(/assets/images/snare.png);
}
.k{
    background-image: url(/assets/images/crash.png);
}
.l{
    background-image: url(/assets/images/kick.png);
}

.press{
    box-shadow:0 3px 4px 0 #DBEDF3;
    opacity: 0.5;
}

footer{
    position: relative;
    top :45vh;
    left: 40vw;
}